.home-our-work {
    &__title {
        margin-bottom: 65px;
    }
}

.home-our-work-grid {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 0;

    &__item {
        width: calc(25% - 20px);
        border: 3px solid #525256;
        border-radius: 11px;
        overflow: hidden;

        &_count {
            border: none;
            display: flex;
            align-items: center;
        }
    }

    &__count-wrap {

    }

    &__count {
        font-style: italic;
        font-weight: 800;
        font-size: 153px;
        // text-shadow: 0 0 3px #CCAC8C;
        padding-left: 30px;
        color: #27262C;
        -webkit-text-stroke: 1px #CCAC8C;
    }

    &__last {
        background: linear-gradient(180deg, #CCAC8C 0%, rgba(204, 172, 140, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: -35px;
        font-style: italic;
        font-weight: 800;
        font-size: 26px;
        position: relative;
    }

    &__item-img {
        height: 175px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &_1 {
            background-image: url('../../../asset/img/home-our-work/home-our-work_1.png');
        }

        &_2 {
            background-image: url('../../../asset/img/home-our-work/home-our-work_2.png');
        }

        &_3 {
            background-image: url('../../../asset/img/home-our-work/home-our-work_3.png'); 
        }
    }

    &__item-footer {
        padding: 16px 30px;
        font-weight: bold;
        color: #808083;
        background: #201F24;
    }

    &__item-volume {
        font-size: 14px;
        margin-bottom: 10px;

        sup {
            vertical-align: super;
            font-size: 11px;
        }
    }

    &__item-name {
        font-size: 18px;
        margin-bottom: 15px;
    }

    &__item-price {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) { 
    .home-our-work {
        padding-bottom: 60px;

        &__title {
            margin-bottom: 25px;
        }
    }
    
    .home-our-work-grid {
        padding: 0;

        flex-wrap: wrap;
    
        &__item {
            width: 100%;
            margin: 0 auto;
            border: 2px solid #525256;
            // margin-bottom: 30px;

            &_count {
               display: none;
            }
        }
        &__item-footer {
            min-height: 110px;
        }
    }
}