.home-about-wrap {
    background-image: url('../../../asset/img/about/about.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1300px;
    margin: 0 auto;
}

.home-about {
    padding: 200px 0 150px;

    &__title {
        margin-bottom: 35px;
    }

    &__content {
        max-width: 55%;
    }

    &__sub-title {
        font-weight: bold;
        font-size: 40px;
        line-height: 1.5;
        color: #CCAC8C;
        text-shadow: 0px 0px 12.7886px rgba(0, 0, 0, 0.1);
        margin-bottom: 35px;
    }

    &__text {
        font-weight: bold;
        font-size: 18px;
        line-height: 2.2;
        opacity: .68;
        color: #FFFFFF;
        text-shadow: 0px 0px 12.7886px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: 992px) {
    .home-about-wrap {
        background-image: none;
        padding-top: 0;
    }

    .home-about {
        padding: 30px 0 40px;
    
        &__title {
            margin-bottom: 50px;
        }
    
        &__content {
            max-width: 100%;
        }
    
        &__sub-title {
            font-size: 22px;
            margin-bottom: 15px;
            line-height: 1.3;
            text-align: center;
            letter-spacing: 0.01em;
        }
    
        &__text {
            font-size: 12px;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.11em;
            opacity: 0.68;
        }
    }
}

@media screen and (max-width: 450px) {
    .home-about-wrap {
        background-image: url('../../../asset/img/about/about-mob.png');
        padding-top: 0;
    }
    .home-about {
        padding: 30px 0 40px;
    
        &__title {
            margin-bottom: 355px;
        }
    }
}