.btn {

    border-radius: 60px;
    background: none;
    border: 1.75758px solid #CCAC8C;
    box-shadow: 0px 0px 14px 2px transparent;
    width: 232px;
    max-width: 100%;
    display: inline-block;

    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 19px 5px;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.9;
    transition: .3s;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 1;
        background: linear-gradient(90.43deg, #B38F6C 0.38%, #D9BCA0 99.73%);
        box-shadow: 0px 0px 14px 2px #b38f6c;
    }

    &[disabled] {
        opacity: .2;

        &:hover {
            opacity: .2;
            background: none;
            box-shadow: none;
            cursor: not-allowed;
        }
    }
}

@media screen and (max-width: 992px) {
    .btn {
        width: 150px;
        font-size: 10px;
        padding: 11px 5px;
    }
}