.carousel-3d {
    position: relative;
    .react-3d-carousel  {
        .slider-container  {
            .slider-right,
            .slider-left {
                top: calc(100% + 20px);
                height: 0;

                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../../asset/img/icon/arrow_sm.svg');

                width: 50px;
                height: 50px;

                div {
                    top: 0;
                    transform: translate(0px, 0px);
                    width: 100%;
                    margin-top: 0;
                    height: 100%;
                    border-radius: 50%;
                    border: 1px solid rgba(#fff, 0.3);

                    i {
                        display: none;
                    }
                }
            }

            .slider-right {
                left: calc(50% + 20px);
                transform: rotate(180deg);
            }

            .slider-left {
                right: calc(50% + 20px);
            }
        }
    }
  
}