* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #27262C;
  }
  
  img {
    max-width: 100%;
  }

  .hidden {
    display: none;
  }
  
  .container {
    background: linear-gradient(
      to right, 
      transparent 0px 25px, 
      rgba(128,128,131,0.2) 25px 26px, 
      transparent 26px calc(50% - 1px), 
      rgba(128,128,131,0.2) calc(50% - 1px),
      transparent 50% calc(100% - 25px - 1px), 
      rgba(128,128,131,0.2) calc(100% - 25px),
      transparent calc(100% - 25px) 100%, 
    );
    width: 100%;
    max-width: 1080px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 0 auto;
  }
  
  .relative {
    position: relative;
  }
  
  .text-center {
    text-align: center;
  }
  
  .display-only-mob {
    display: none;
  }

  .not-link {
    text-decoration: none;

    &:focus {
      outline: none;
    }
  }

  // .section-name-wrap {
  //   position: relative;

  //   .section-name {
  //     position: absolute;
  //     right: 0;
  //     top: 50%;
  //     transform: translateY(-50%);
  //     display: flex;
  //     align-items: center;

  //     font-weight: bold;
  //     font-size: 10px;
  //     line-height: 12px;
  //     /* identical to box height */

  //     letter-spacing: 0.055em;
  //     text-transform: uppercase;

  //     color: #7F7F82;

  //     transform-origin: top right;
  //     transform: rotate(90deg) translateX(50%);

  //     &__title {}

  //     &__number {
  //       position: relative;
  //       margin-right: 48px;
        
  //       &:after {
  //         content: '';
  //         position: absolute;
  //         left: calc(100% + 4px);
  //         top: 50%;
  //         width: 40px;
  //         height: 2px;
  //         transform: translatey(-50%);
  //         background: #7F7F82;
  //       }
  //     }
  //   }
  // }
  
  .title {
    font-weight: bold;
    font-size: 30px;
    color: #9E9E9E;
    text-shadow: 0px 0px 11.5213px rgba(0, 0, 0, 0.1);
  }

  input {
    border-radius: 0px;
  }
  
  @media screen and (max-width: 992px) {
  
    .display-only-desktop {
      display: none;
    }
  
    .display-only-mob {
      display: block;
    }

    .section-name-wrap {
      .section-name {
        display: none;
      }
    }

    .title {
      font-size: 18px;
    }
  
    // .container {
    //   padding-right: 20px;
    //   padding-left: 20px;
    // }
  
    // .title {
    //   font-size: 30px;
    // }
  }