.home-partners-wrapper {
    background: rgba(#27262C,  0.6);
}

.home-partners {

    padding: 0px 0 150px;

    &__title {
        margin-bottom: 62px;
    }

}

.home-partners-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 35px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100%/3);
        height: 195px;
        border-radius: 11px;
        transition: 0.3s;

        &_link {
            &:hover {
                background: #28272C;
                box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.17);
            }
        }

        &:focus,
        &:focus-visible,
        &:active {
            outline: none;
            border: none;
        }
    }

    &__img {

    }
}

@media screen and (max-width: 992px) {
    .home-partners {
    
        padding: 0px 0 120px;
    
        &__title {
            margin-bottom: 40px;
        }
    
    }
    
    .home-partners-grid {
        display: flex;
        flex-wrap: wrap;
        padding: 0 35px;
    
        &__item {
            width: 100%;
            margin-bottom: 30px;
        }
    } 
}