.home-action {
    padding-bottom: 100px;

    display: flex;

    $p: &;

    &__item {
        width: 50%;
        padding: 75px 0px;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        min-height: 60px;

        position: relative;

        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background: #7F7F82;
            z-index: 2;
        }

        &:hover,
        &_active {
            background: rgba(#CCAC8C, 0.6);

            &:after {
                background: transparent;
            }
            #{$p} {
                &__item-name {
                    font-size: 16px;                    
                    color: #CCAC8C;
                    text-transform: uppercase;
                    // margin-right: 30px;
                }
            
                &__item-icon-wrap {
                    background: #CCAC8C;
                    transform: rotate(-90deg);
                }
            }
        }
    }

    &__item-inner {
        max-width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item-name {
        font-weight: bold;
        font-size: 14px;        
        color: #7F7F82;
        // margin-right: 60px;
    }

    &__item-icon-wrap {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        background: #7F7F82;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item-icon {

    }
}

@media screen and (max-width: 992px) {
    .home-action {
        padding-bottom: 30px;
    
        $p: &;
    
        &__item {
            width: 50%;
            padding: 12px 0;
            display: flex;
            
            &:after {
                height: 2px;
            }
    
            &:hover,
            &_active {
                #{$p} {
                    &__item-name {
                        text-transform: none;
                        font-size: 10px;                    
                        margin-right: 20px;
                    }
                
                }
            }
        }

        &__item-inner {
            max-width: 90%;

        }
    
        &__item-name {
            font-size: 10px;        
            margin-right: 20px;
        }
    
        &__item-icon-wrap {
            width: 16px;
            height: 16px;
        }
    
        &__item-icon {
            max-width: 7px;
        }
    }
}