.hero-video-bg-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    .hero-video-bg {
        position: absolute;
        object-fit: cover;
        max-width: 100%;
        top: 0;
        left: 50%;
        // opacity: .5;
        transform: translate(-50%, 0);
        z-index: 2;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        background: linear-gradient(360deg, #201F24 30.52%, rgba(32, 31, 36, 0) 97.4%);
        z-index: 3;
    }



    .container {
        position: relative;
        z-index: 4;
    }


}

// .home {
//     &__hero-bg {
//         background: linear-gradient(360deg, #201F24 30.52%, rgba(32, 31, 36, 0) 97.4%);
//         // background-image: url('../../asset/img/hero/hero.png');
//         background-repeat: no-repeat;
//         background-size: cover;
//         height: 100%;
//         width: 100%;
//     }
// }

@media screen and (max-width: 992px) {
    .hero-video-bg-wrapper {
        .hero-video-bg {
            max-width: auto;
            min-height: 600px;
        }
    }

    .hero-video-bg-wrapper {   
        &:after {
            background: linear-gradient(360deg, #201F24 52.52%, rgba(32, 31, 36, 0) 97.4%);
        }
    }
}