.home-contacts-wrapper {
    background: #201F24;
}

.home-contacts {
    padding-top: 50px;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    $p: &;
    &__title {
        margin-bottom: 60px;
    }

    &__sub-title {
        font-weight: bold;
        font-size: 40px;
        color: #808083;
        text-shadow: 0px 0px 11.5213px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
    }

    &__from-group {
        position: relative;

        &_right {
            display: flex;
            justify-content: flex-end;
            #{$p} {
                &__control {
                    padding: 5px 260px 5px 0;
                }
            }
        }
    }

    &__control {
        background: none;
        width: 50%;
        border: none;
        height: 88px;
        padding: 5px 0;
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid rgba(#fff, 0.6);

        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            opacity: .6;
            color: #FFFFFF;
        }

        &:focus {
            outline: none;
            border-bottom: 1px solid #fff;
        }

        &_error {
            border-bottom: 1px solid rgba(red, 0.6);
            &::placeholder {
                color: red;
            }
        }
    }

    &__send-request {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    &__footer {
        margin: 0 1px;
        background-image: url('../../../asset/img/home-contacts/map.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 80px 0 20px;
        padding-left: 30px;
    }

    &__info {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
    }

    &__info-icon-wrap {
        width: 30px;
    }

    &__info-icon {

        &_marker {
            transform: translateY(-6px);
        }

    }

    &__info-text {
        font-weight: bold;
        font-size: 12px;
        line-height: 2;
        color: rgba(255, 255, 255, 0.9);
        
        &_link {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 992px) {

    .home-contacts {
        padding-top: 30px;

        &__inner {
            flex-direction: column-reverse;
        }
       
        $p: &;
        &__title {
            margin-bottom: 30px;
        }
    
        &__sub-title {
            font-size: 20px;
            margin-bottom: 20px;
        }

        &__form-wrap {
            margin-bottom: 40px;
        }
    
        &__from-group {
            position: relative;
            margin-bottom: 15px;
    
            &_right {
                flex-wrap: wrap;
                justify-content: center;

                #{$p} {
                    &__control {
                        padding: 15px;
                        margin-bottom: 45px;
                    }
                }
            }
        }
    
        &__control {
            width: 100%;
            height: 80px;
            padding: 15px;
            font-size: 15px;
            letter-spacing: 0.12em;
            display: block;
    
            &::placeholder {
                font-size: 15px;
            }
            
            &[disabled] {
                cursor: not-allowed;
            }
        }
    
        &__send-request {
            position: static;
            transform: translateY(0);
        }
    
        &__footer {
            background-image: url('../../../asset/img/home-contacts/map-mob.png');
            padding: 25px 0;
            margin-bottom: 32px;
        }
    
        &__info {
            margin-bottom: 35px;
        }

        &__info-icon {

            &_marker {
                transform: translateY(0);
            }
        }
    
        &__info-icon-wrap {
            width: 35px;
        }
    
        &__info-text {
            font-size: 8px;
        }
    }
}