.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 30px;

    position: relative;

    &__logo {
        max-width: 150px;
    }

    &__squares {
        max-width: 20px;
        /* max-width: 20px; */
        position: absolute;
        /* top: 50%; */
        left: 50%;
        transform: translate(-50%, 0%);
        display: block;
    }

    &__tel {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.055em;
        text-transform: uppercase;
        
        color: #FFFFFF;

        &:hover {
            color: #B38F6C;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        padding: 20px 0;
    
        &__logo {
            max-width: 50px;
        }
    }
}