.sticky-name {
    position: fixed;
    right: calc((100vw - 1080px) / 2 - 4px);
    top: 50%;
    display: flex;
    align-items: center;
    z-index: 999;

    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    letter-spacing: 0.055em;
    text-transform: uppercase;

    color: #7F7F82;

    transform-origin: top right;
    transform: rotate(90deg) translate(50%, 50%);

    &__title {}

    &__number {
    position: relative;
    margin-right: 48px;
    
    &:after {
        content: '';
        position: absolute;
        left: calc(100% + 4px);
        top: 50%;
        width: 40px;
        height: 2px;
        transform: translatey(-50%);
        background: #7F7F82;
    }
    }
}

@media screen and (max-width: 1080px) {
    .sticky-name {
        right: 0;
    }
}
  
@media screen and (max-width: 992px) {
    .sticky-name {
        display: none;
    }
}