.home-benefits {
    padding-top: 30px;

    &__title {
        margin-bottom: 30px;
    }
}

.home-benefits-grid {
    display: flex;
    flex-wrap: wrap;

    $p: &;

    &__item {
        width: calc(100%/3);
        padding: 50px 0px 30px 20px;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 10px;

        // &:after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: -20px;
        //     width: calc(100% + 20px);
        //     border-radius: 10px;
        //     height: 100%;
        //     background: transparent;
        //     z-index: -1;
        // }
        
        &:hover {
            // &:after {
                background: #28272C;
                box-shadow: 0px 0px 74px rgba(0, 0, 0, 0.17);
            // }

            #{$p} {
                &__item-img {
                    transform: translateY(-40px);
                }
            }
        }
    }

    &__item-img-wrap {
        min-width: 90px;
    }

    &__item-img {
        align-self: flex-start;
        margin-top: 0;
        padding-right: 20px;
        max-width: 80px;
        max-height: 58px;
        transition: .3s;
    }

    &__item-content {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.4;
        color: #FFFFFF;
        opacity: 0.6;
        text-shadow: 0px 0px 10.7372px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: 992px) {
    .home-benefits {
        padding-top: 0;
        padding-bottom: 30px;
    }
    
    .home-benefits-grid {
        $p: &;
    
        &__item {
            width: 100%;
            padding: 30px;
            
            &:hover {
                // &:after {
                    background: none;
                    box-shadow: none;
                // }
    
                #{$p} {
                    &__item-img {
                        transform: translateY(0);
                    }
                }
            }
        }

        &__item-img-wrap {
            min-width: 85px;
        }
    
        &__item-img {
            padding-right: 30px;
            max-width: 85px;
        }
    
        &__item-content {
            font-size: 12px;
            line-height: 1.2;
        }
    }
}