.footer-wrapper {
    background: rgba(#27262C, .6);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;

    &__logo {
        max-width: 45px;
    }
}

@media screen and (max-width: 992px) {
    .footer {
        padding: 25px 0;
        &__logo {
            max-width: 30px;
        }
    }
}