.home-request-wrapper {
    background: #201F24;
    overflow: hidden;

    .container {
        background: none;
    }
}

.home-request {

    position: relative;
    padding: 100px 0;

    &__text {
        font-style: italic;
        font-weight: 800;
        font-size: 90px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        opacity: 0.05;
        -webkit-text-stroke: 1px #fff;
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__from {

    }

    &__from-group {
        position: relative;
    }

    &__control {
        background: #252329;
        width: 100%;
        border: none;
        height: 97px;
        padding: 5px 350px 5px 60px;
        font-size: 24px;
        color: #FFFFFF;

        &::placeholder {
            font-weight: 500;
            font-size: 24px;
            color: #FFFFFF;
            opacity: 0.5;
        }

        &:focus {
            outline: none;
            border: 1px solid #fff
        }
    }

    &__send-request {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 70px;
    }

}

@media screen and (max-width: 992px) {
    .home-request {

        padding: 25px 0;
    
        &__text {
            font-size: 28px;
            left: -20px;
            opacity: 0.03;
            width: calc(100% + 40px);
        }
    
        &__from {
    
        }
    
        &__control {
            height: 50px;
            padding: 5px 180px 5px 20px;
            font-size: 12px;
    
            &::placeholder {
                font-size: 12px;
            }
        }
    
        &__send-request {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }
    
    }
    
}