// .home-hero-wrap {
//     position: relative;
//     overflow: hidden;
//     &__video-bg {
//         position: absolute;
//         object-fit: cover;
//         max-height: 100%;
//         top: 50%;
//         left: 50%;
//         opacity: .5;
//         transform: translate(-50%, -50%);
//     }

//     .container {
//         position: relative;
//         z-index: 2;
//     }
// }

.home-hero {
    padding-bottom: 40px;

    $p: &;
    &__body {
        max-width: 50%;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 33px;
        line-height: 1.4;
        color: #FFFFFF;
        text-shadow: 0px 0px 12.774px rgba(0, 0, 0, 0.1);

        margin-bottom: 60px;
    }

    &__action {
        display: flex;
        margin-bottom: 100px;
    }

    &__request {
        margin-right: 50px;
    }

    &__presentation {
        display: flex;
        align-items: center;

        &:hover {
            #{$p} {
                &__presentation-text {
                    color: #B38F6C;
                }
            }
        }
    }

    &__presentation-icon {
        margin-right: 10px;
        margin-right: 10px;
        // align-self: flex-start;
        margin-top: -4px;
        // transition: .3s;
    }

    &__presentation-text {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.8;
    }

    &__more {
        display: flex;
    }

    &__scroll {
        display: flex;
        align-items: center;
        margin-right: 150px;
    }

    &__scroll-icon {
        display: inline-block;
        margin-right: 5px;
        max-width: 10px;
        animation: spin 1.4s infinite linear alternate;
    }

    &__scroll-text {
        font-weight: 500;
        font-size: 11px;
        line-height: 1.7;
        
        
        color: #FFFFFF;
        opacity: 0.4;
    }
    
    &__socials-icons {
        display: flex;
    }

    &__socials-icons-item {
        display: flex;
        max-width: 17px;
        align-items: center;
        opacity: .5;
        transition: .3s;
        
        &_facebook {
            // margin-right: 15px;
        }

        &_instagram {
            margin-right: 15px;
        //     align-self: flex-start;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__video-wrapper {
        display: flex;
        text-align: center;
    }

    &__video-info {
        margin-right: 25px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__video-title {
        font-weight: 600;
        font-size: 20px;
        color: #CCAC8C;
        margin-bottom: 10px;
    }

    &__video-content {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        color: #FFFFFF;
        opacity: 0.4;
    }

    &__video-img {
        position: relative;
        width: 160px;
        height: 90px;
        background: url('../../../asset/img/videoPreview.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &__video-play-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

@keyframes spin {
    0% {
      transform: translate(0, -100%);
    }
    100% {
      transform: translate(0, 0);
    }
}

@media screen and (max-width: 992px) {
    .home-hero-wrap {
        margin-bottom: 40px;
    }
    .home-hero {
        padding-bottom: 20px;
        padding-top: 70px;
    
        $p: &;
        &__body {
            max-width: 100%;
        }
    
        &__footer {
            flex-direction: column;
        }
    
        &__title {
            font-size: 16px;
            line-height: 2.2;
            margin-bottom: 35px;
            text-align: center;
        }
    
        &__action {
            justify-content: center;
            margin-bottom: 40px;
        }
    
        &__request {
            margin-right: 0;
        }
    
        &__presentation {
           display: none;
        }
    
        &__more {
            justify-content: center;
            margin-bottom: 40px;
        }
    
        &__scroll {
           display: none;
        }
    
    
        &__socials-icons-item {
            
            max-width: 25px;
            img {
                width: 25px;
            }
    
            &_instagram {
                margin-right: 25px;
            }
        }
    
        &__video-wrapper {
            justify-content: space-between;
        }
    
        &__video-info {
            margin-right: 0;
            text-align: left;
        }
    
        &__video-title {
            font-size: 17px;
        }
    
        &__video-content {
            font-size: 8px;
        }
    
        &__video-img {
            width: 50%;
            height: 90px;
            background-size: cover;
        }
    }
}